*.pyc
/__pycache__
venv
.venvs
.venv
/.pytest_cache
*.swp
.eth_consensus_specs

build/
output/
dist/

.pytest_cache
.ruff_cache

# coverage reports
.htmlcov
.coverage
.coverage.*

# local CI testing output
tests/core/pyspec/test-reports
tests/core/pyspec/eth_consensus_specs/test_results.xml

*.egg-info

# TOC tool outputs temporary files
*.tmp

# website
.cache/
.zensical.build.toml
docs/
site/

# docker test results
testResults

# lint temporary files
.lint_diff_*

# reference tests
reftests/
